@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #;
}

.text-primary{
    color: #000544;
}
.text-secondary{
    color: #007999;
}

.bg-primary{
    background-color: #007999;
}